<!DOCTYPE html>
<html>
<head>
	<title>Actor Detail</title>
</head>
<body>

	<ul>	
			<%@actor.each do |hashes|%>
					<li>
					<a href=/movies/<%=hashes["title"].gsub(/\s+/, "")%>><%=hashes["title"]%>
					</a>
					</li>
					<li><%=hashes["character"]%></li>
					<br/>
			<%end%>
	</ul>

</body>
</html>
